//
// === Colors ===
//

// primary
$primary: #5eb792;

// secondary
$secondary: #69a3e5;

// background
$background: #f3f5f8;

// gray
$dark-gray: #596169;
$v-dark-gray: #4b545d;

// success

// warning

//
// === Fonts ===
//
