@import "assets/scss/reset";
@import "assets/scss/fonts";
@import "assets/scss/icons";
@import "assets/scss/mixins";
@import "assets/scss/variables";
@import "assets/scss/base";
@import "components/index";

.app {
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;

  .one {
    font-weight: $light-weight;
  }

  .two {
    font-weight: $regular-weight;
  }

  .three {
    font-weight: $bold-weight;
  }

  ul {
    margin-top: 5rem;

    li {
      letter-spacing: 1px;
      text-align: center;
      color: darken(aliceblue, 10%);
    }
  }
}
