@import "alert/alert";
@import "alertsHeader/alertsHeader";
@import "alertsFooter/alertsFooter";

.alerts {
  width: 100%;
  @include border-radius(0.5rem);
  background-color: $primary;
  color: $white;

  .loading {
    text-align: center;
    padding: 0 0 6rem;

    .fa-spinner {
      font-size: 8rem;
    }

    p {
      margin-top: 2rem;
    }
  }
}
