@import "alert/alert";
@import "levelBar/levelBar";

.alerts {
  width: 100%;
  @include border-radius(0.5rem);
  background-color: $primary;
  color: $white;

  .alerts-header {
    padding: 2rem 2rem 1rem 2rem;
    min-height: 12rem;
    @include flex;
    @include justify-content(space-between);

    .alerts-info {
      @include flex;
      @include align-items(baseline);

      .alerts-title {
        @include flex;
        @include align-items(baseline);
        margin-right: 1rem;
        font-weight: $regular-weight;
        text-transform: uppercase;
        line-height: 2;
      }
    }

    .alerts-controls {
      @include flex;
      @include flex-direction(column);
      @include justify-content(space-between);
      @include flex-grow(1);

      .main-alerts-controls {
        @include flex;
        @include justify-content(flex-end);
        @include align-items(baseline);
        margin-bottom: 4rem;

        .controls-list {
          @include flex;
          @include align-items(flex-start);

          li {
            &:not(:last-child) {
              margin-right: 3rem;
            }
          }
        }

        > .button {
          margin-left: 2rem;

          i {
            margin-left: 1rem;
          }
        }
      }

      .sort-alerts-controls {
        @include flex;
        @include justify-content(flex-end);

        .button {
          i {
            margin-left: 1rem;
          }
        }
      }
    }
  }

  .alerts-footer {
    padding: 0 2rem 2rem;

    .button:not(.no-body) {
      display: block;
      margin: 0 auto 1rem;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  @media screen and (max-width: 640px) {
    .alerts-header .alerts-controls .main-alerts-controls {
      @include flex-direction(column-reverse);
      @include align-items(flex-end);

      .controls-list {
        margin-bottom: 2rem;
      }

      > .button {
        margin-bottom: 2rem;
      }
    }
  }
}
